<!-- filter home -->
	<div class="filter-home segments">
		<div class="container-pd">
			<div class="row">
				<div class="col-6 px-2">
					<a href="<?php echo base_url('booking/index');?>">
						<div class="content b-shadow">
							<i class="fa fa-user-plus"></i>
							<h6>Cek Jumlah Pasien Booking</h6>
						</div>
					</a>
				</div>
				<div class="col-6 px-2">
					<a href="<?php echo base_url('rawatjalan/index');?>">
						<div class="content b-shadow">
							<i class="fa fa-user-plus"></i>
							<h6>Cek Pasien Terdaftar Rawat Jalan</h6>
						</div>
					</a>
				</div>
				<!-- <div class="col-4 px-2">
					<a href="<?php echo base_url('rawatinap/index');?>">
						<div class="content b-shadow">
							<i class="fa fa-user-plus"></i>
							<h6>Cek Jumlah Pasien Rawat Inap</h6>
						</div>
					</a>
				</div> -->
			</div>
			<div class="row">
				<!-- <div class="col-4 px-2">
					<a href="<?php echo base_url('info/index');?>">
						<div class="content b-shadow">
							<i class="fa fa-database"></i>
							<h6>Cek Riwayat Tindakan Pasien</h6>
						</div>
					</a>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('incbg/index');?>">
						<div class="content b-shadow">
							<i class="fa fa-money"></i>
							<h6>Cek Tarif INCBG</h6>
						</div>
					</a>
				</div>
				<div class="col-4 px-2">
					<a href="<?php echo base_url('jadwal/index')?>">
						<div class="content b-shadow">
							<i class="fa fa-calendar"></i>
							<h6>Jadwal Praktik</h6>
						</div>
					</a>
				</div> -->
			</div>
		</div>
	</div>
	<!-- end filter home