
	<!-- sidebar -->
	<div class="side-overlay"></div>
	<div id="menu" class="panel sidebar" role="navigation">
		<div class="sidebar-header">
			
		</div>

		<ul>
			<li>
				<a href="<?php echo base_url('infopublik/info_faskes');?>"><i class="fa fa-calendar"></i>Info Faskes</a>
			</li>
			<li>
				<a href="<?php echo base_url('infopublik/jadwal_dokter');?>"><i class="fa fa-calendar"></i>Jadwal Dokter</a>
			</li>
			<li>
				<a href="<?php echo base_url('infopublik/kamar');?>"><i class="fa fa-hotel"></i>Informasi Kamar</a>
			</li>
			<li>
				<a href="<?php echo base_url('infopublik/cuti_dokter');?>"><i class="fa fa-hotel"></i>Dokter Tidak Praktik</a>
			</li>
			<li>
				<a href="<?php echo base_url('infopublik/tanya_jawab');?>"><i class="fa fa-hotel"></i>Tanya Jawab</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->